body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

.villageOverview {
    width: 80%;
    margin: 2% auto;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.building {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.building-icon {
    margin-right: 10px;
}

.building-button {
    margin-left: 10px;
}
.no-bullets {
    list-style-type: none;
    padding-left: 0;
}
